*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#eef5ff;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:700px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

text-align:center;

}

.upload-box{

border:3px dashed #0f62fe;

padding:60px 30px;

border-radius:15px;

}

.upload-box i{

font-size:70px;

color:#0f62fe;

margin-bottom:20px;

}

.upload-box h2{

margin-bottom:10px;

}

.upload-box p{

margin:15px 0;

color:#666;

}

button{

padding:15px 30px;

border:none;

background:#0f62fe;

color:white;

font-size:16px;

border-radius:8px;

cursor:pointer;

margin-top:15px;

}

button:hover{

background:#004dc9;

}

#fileName{

font-weight:600;

color:#0f62fe;

margin-top:20px;

}